/bin

/.vs

/Libraries/02-Windows/Elysium.Core/Debug
/Libraries/02-Windows/Elysium.Core/Debugbin
/Libraries/02-Windows/Elysium.Core/Releasebin

/Libraries/02-Windows/Elysium.Core.Data/Debug
/Libraries/02-Windows/Elysium.Core.Data/Debugbin
/Libraries/02-Windows/Elysium.Core.Data/Releasebin

/Libraries/02-Windows/Elysium.Core.Data.SqlNativeClient/Debug
/Libraries/02-Windows/Elysium.Core.Data.SqlNativeClient/Debugbin
/Libraries/02-Windows/Elysium.Core.Data.SqlNativeClient/Releasebin

/Libraries/02-Windows/Elysium.Core.Math/Debug
/Libraries/02-Windows/Elysium.Core.Math/Debugbin
/Libraries/02-Windows/Elysium.Core.Math/Releasebin

/Libraries/02-Windows/Elysium.Core.Net/Debug
/Libraries/02-Windows/Elysium.Core.Net/Debugbin
/Libraries/02-Windows/Elysium.Core.Net/Releasebin

/UnitTests/02-Windows/UnitTests.Core/Debug
/UnitTests/02-Windows/UnitTests.Core/Debugbin
/UnitTests/02-Windows/UnitTests.Core/Releasebin

/UnitTests/02-Windows/UnitTests.Core.Data/Debug
/UnitTests/02-Windows/UnitTests.Core.Data/Debugbin
/UnitTests/02-Windows/UnitTests.Core.Data/Releasebin

/UnitTests/02-Windows/UnitTests.Core.Math/Debug
/UnitTests/02-Windows/UnitTests.Core.Math/Debugbin
/UnitTests/02-Windows/UnitTests.Core.Math/Releasebin

/UnitTests/02-Windows/UnitTests.Core.Net/Debug
/UnitTests/02-Windows/UnitTests.Core.Net/Debugbin
/UnitTests/02-Windows/UnitTests.Core.Net/Releasebin

/Libraries/02-Windows/Elysium.Core.ServiceProcess/Debug
/Libraries/02-Windows/Elysium.Core.ServiceProcess/Debugbin
/Libraries/02-Windows/Elysium.Core.ServiceProcess/Releasebin

/Libraries/04-Android/Elysium.Core/Debugbin
/Libraries/04-Android/Elysium.Core/Debugbin
/Libraries/04-Android/Elysium.Core/Releasebin

/TestApplications/04-Android/EmpyAndroidApp/EmpyAndroidApp.NativeActivity/ARM/Debug
/TestApplications/04-Android/EmpyAndroidApp/EmpyAndroidApp.NativeActivity/ARM64/Debug
/TestApplications/04-Android/EmpyAndroidApp/EmpyAndroidApp.NativeActivity/Debugbin

/TestApplications/04-Android/EmpyAndroidApp/EmpyAndroidApp.Packaging/ARM/Debug
/TestApplications/04-Android/EmpyAndroidApp/EmpyAndroidApp.Packaging/ARM64/Debug
/TestApplications/04-Android/EmpyAndroidApp/EmpyAndroidApp.Packaging/Debugbin
