<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <MSTest>
    <TestCaseFilter>TestCategory=LongRunning</TestCaseFilter>
  </MSTest>
  <RunConfiguration>
    <!-- Increase overall test session timeout (60 minutes in ms) -->
    <!-- <TestSessionTimeout>3600000</TestSessionTimeout> -->
    <TestSessionTimeout>14400000</TestSessionTimeout>

    <!-- Increase per-test timeout (60 minutes in ms) -->
    <!-- <TestTimeout>3600000</TestTimeout> -->
    <TestTimeout>14400000</TestTimeout>
  </RunConfiguration>
</RunSettings>