<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <MSTest>
    <TestCaseFilter>TestCategory=LongRunning</TestCaseFilter>
  </MSTest>
  <RunConfiguration>
    <TestSessionTimeout>0</TestSessionTimeout>  <!-- Increase overall test session timeout: unlimited -->
    <!-- <TestSessionTimeout>3600000</TestSessionTimeout> --> <!-- Increase overall test session timeout: 3h -->
    <!-- <TestSessionTimeout>14400000</TestSessionTimeout> --> <!-- Increase overall test session timeout: 4h -->
  </RunConfiguration>
</RunSettings>